{{template "head" .}}
<div class="card narrow">
	<h1>{{.T "confirm.title" "user" .Data.Username}}</h1>
	<p>{{.T "confirm.body"}}</p>
	<pre class="out">{{range .Data.Reply}}{{.}}
{{end}}</pre>
	<form method="post" action="{{.Prefix}}/users/delete" class="row">
		<input type="hidden" name="csrf" value="{{.CSRF}}">
		<input type="hidden" name="username" value="{{.Data.Username}}">
		<input type="hidden" name="token" value="{{.Data.Token}}">
		<a class="button" href="{{.Prefix}}/users">{{.T "act.cancel"}}</a>
		<button class="danger">{{.T "confirm.delete" "user" .Data.Username}}</button>
	</form>
</div>
{{template "foot" .}}
