{{template "head" .}}
<div class="card narrow">
	<div class="bar"><h1>soju-webadmin</h1><span class="right">{{template "langs" .}}</span></div>
	<p class="muted">{{.TH "login.subtitle" "addr" .Data.Addr}}</p>
	{{with .Data.Error}}<p class="flash bad">{{.}}</p>{{end}}
	<form method="post" action="{{.Prefix}}/login">
		<label>{{.T "login.username"}}
			<input name="username" autocomplete="username" autofocus required value="{{.Data.Username}}">
		</label>
		<label>{{.T "login.password"}}
			<input name="password" type="password" autocomplete="current-password" required>
		</label>
		<button class="primary">{{.T "login.submit"}}</button>
	</form>
</div>
{{template "foot" .}}
