{{template "head" .}}
<div class="bar"><h1>Add network</h1><a class="button" href="{{.Prefix}}/">Cancel</a></div>

<div class="card">
	<form method="post" action="{{.Prefix}}/networks/new">
		<input type="hidden" name="csrf" value="{{.CSRF}}">
		<div class="grid">
			<label>Host <span class="req">required</span>
				<input name="host" placeholder="irc.libera.chat" required autofocus>
			</label>
			<label>Port
				<input name="port" inputmode="numeric" placeholder="6697">
			</label>
			<label>Name
				<input name="name" placeholder="libera">
				<small>How soju refers to this network. Leave it out and the address is used instead.</small>
			</label>
			<label class="check">
				<input type="checkbox" name="tls" value="1" checked> TLS
			</label>
			<label>Nickname
				<input name="nickname" placeholder="defaults to your soju nick">
			</label>
			<label>Username
				<input name="username">
			</label>
			<label>Real name
				<input name="realname">
			</label>
			<label>Server password
				<input name="pass" type="password" autocomplete="new-password">
				<small>Not the same as SASL, which is set once the network exists.</small>
			</label>
		</div>
		<button class="primary">Add network</button>
	</form>
</div>
{{template "foot" .}}
